*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.336);
}

.btn{
    padding: 0.95em 1.33em;
    font-size: 1em;
    border-radius: 5px;
    background-color: blueviolet;
    border: none;
    margin: 3em;
}